.heading1
{
    font-size : 23px;
    width:100%;
    margin :0px;

}
.heading2
{
font-size: 15px;
width :100%;
margin: 0px;
color: black;

}
.name
{
font-size: 20px;


}

    

.input
{
width: 300px;
height: 40px;
}

body{
background-size: cover;

}
#start ,#status,#no_of_objects
{
    font-size:18px;
}
canvas{
border: 2px solid white;
border-radius: 10px;
margin-top: 130px;
box-shadow:5px 5px 5px white;

}